<%- include('includes/head.ejs') %>
    <h1 id="principal">Este sitio es de Peliculas y Series</h1>
    <p>Tenemos los siguientes peliculas:</p>
    <div class="row">
    <% if (capybaras.length > 0) { %>
        <% for (let capybara of capybaras) { %>
            <div class="col l3 m4 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<%= capybara.imagen %>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= capybara.nombre %><i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is not a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= capybara.nombre %><i class="material-icons right">close</i></span>
                        <p><%= capybara.descripcion%></p>
                    </div>
                </div>
            </div>
        <% } %>
    <% } else { %>
        <h1>Ahorita no hay capybaras, regresa pronto.</h1>
    <% } %>  
    </div>

    <br><br>
    <p>Tenemos las siguientes series </p>
    <!--SERIES-->
    <div class="row">
        <% if (capybaras2.length > 0) { %>
            <% for (let capybara of capybaras2) { %>
                <div class="col l3 m4 s12">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="<%= capybara.imagen %>">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><%= capybara.nombre %><i class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is not a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><%= capybara.nombre %><i class="material-icons right">close</i></span>
                            <p><%= capybara.descripcion%></p>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <h1>Ahorita no hay capybaras, regresa pronto.</h1>
        <% } %>  
    </div>
    <br><br>
    <p>Tenemos los siguientes animes</p>
    <!--ANIME-->
    <div class="row">
        <% if (capybaras3.length > 0) { %>
            <% for (let capybara of capybaras3) { %>
                <div class="col l3 m4 s12">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="<%= capybara.imagen %>">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><%= capybara.nombre %><i class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is not a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><%= capybara.nombre %><i class="material-icons right">close</i></span>
                            <p><%= capybara.descripcion%></p>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <h1>Ahorita no hay capybaras, regresa pronto.</h1>
        <% } %>  
    </div>
<!--A ver q pasa-->
    <% if (ultimo_capybara !=''){ %>
        <p>El ultimo capybara agregado fue: <%=ultimo_capybara %></p>
    <%}%>
    <br><br>
    <a href="/capybaras/nuevo"><i class="material-icons">add</i>Agregar un nuevo pelicula</a>
    <!--AGREGAR SERIES -->
    <a href="/capybaras/nuevo2">Agregar una nueva serie</a>
    <!--AGREGAR ANIME-->
    <a href="/capybaras/nuevo3">Agregar un nuevo anime</a>

<%- include('includes/foot.ejs') %>